.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color:#212626;
}

.logo {
  margin-right: 20px;
}

.buttons {
  display: flex;
}

.button {
  margin-right: 10px;
  background-color: #aad8d3; /* Verde pastel */
  color: #070606; /* Blanco café clarito */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #92b7b2; /* Verde pastel más oscuro */
}
